<%- include("../partials/head") %>
<%- include("../partials/artistnavbar") %>
<div class="container-fluid" style="background-color:<%= users.theme %>"> 
<div class="container">
<div class="row align-items-end">
<div class="col-md-2"  style="margin-top:2vh;z-index:999999;">
<img src="<%= users.photo %>" class="pp">  
</div>  
<div class="col-md-10" style="margin-top:2vh;">
<div class="info">
<br><br><br>
<div class="row">
<div class="col-md-6">
<b class="username"><%= users.username %></b>
</div>
<div class="col-md-6">
 <% for(let i=0;i<999;i++) { %>
      <% if(users.badges[i] == "Gelistirici") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/95b99533-2d3f-4bc5-81aa-18e7d3835d79.image.png?v=1659538390283" title="Geliştirici">
      <% } %>
      <% if(users.badges[i] == "Modelci") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/ba9aa8a7-ca7b-4e8c-8a8d-9404973987ad.image.png?v=1659538861536" title="Modelci">
      <% } %>      
      <% if(users.badges[i] == "Arkaplan Çizeri") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/be80313c-3d12-4f08-9305-14300d94c15f.image.png?v=1659538914704" title="Arkaplan Çizer">
      <% } %>
      <% if(users.badges[i] == "Murt Ekip Üyesi") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/35775a49-2085-4369-bb57-89b90480e5a2.image.png?v=1659552274484" title="Murt Ekip Üyesi">
      <% } %>      
      <% if(users.badges[i] == "Kurnaz Ekip Üyesi") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/5573cbdc-1990-47a8-b11f-38c5528f419f.image.png?v=1659552804400" title="Kurnaz Ekip Üyesi">
      <% } %>
      <% if(users.badges[i] == "Storyborderci") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/b629844b-3b80-45f7-b427-512cfc562854.image.png?v=1659799206592" title="Story Borderci">
      <% } %>
      <% if(users.badges[i] == "Animatör") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/c4fd0ddb-cbb4-4c1f-a3fc-9e9c3b9752ab.image.png?v=1659799666122" title="Animatör">
      <% } %>
      <% if(users.badges[i] == "Seçkin Çizer") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/37b244b9-0ba0-4bcd-8bf7-94e1908afa64.image.png?v=1659800360950" title="Seçkin Çizer">
      <% } %>
      <% if(users.badges[i] == "Stajyer") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/a1d08ff5-e67f-4adc-9943-a0a3bab71f0d.image.png?v=1659800967923" title="Stajer">
      <% } %>
      <% if(users.badges[i] == "Seslendirmen") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/9a69a22d-b568-48a1-b081-dec9db67326e.image.png?v=1659802023688" title="Seslendirmen">
      <% } %>
      <% if(users.badges[i] == "Tasarımcı") { %>
        <img id="icon" src="https://cdn.glitch.global/e40803d6-689d-4f0f-be66-debb139801d0/684c4dd1-9f1d-4cb4-8621-ab2fa6f9f80c.image.png?v=1659803755258" title="Tasarımcı">
      <% } %>
 <% } %>
</div>
</div>
</div>
</div>  
</div> 
</div> 
</div>
<div class="container" style="margin-top:9vh;">
  <h4>Hakkımda </h4>
  <span><%- users.about %></span><br>
    
  <h4>Galeri</h4>
  <div class="row m-t">
    <% photo.forEach( photo => { %>
    <div class="col-md-3">
      <div class="card">
      <img class="card-img-top" src="<%= photo.photo %>">
      <div class="card-body">
        <h5 id="<%= photo._id %>"><%= photo.title %></h5>
        <label id="<%= photo._id %>"><%= photo.description %></label>
      </div>
      </div>
      </div>
    <% }) %>
  </div>
</div>
  
  <style>
    .pp{
      width:100%;
      position:relative;
      top:7.5vh;
      left:0;
      border-radius:8px;
      z-index:99999;
     }
    .info{
      background-color:<%= users.theme %>;
      color:white;
      padding:0;
      width:100%;
      position:relative;
      top:5.5vh;
      padding-bottom:1vh;
      padding-left:1vw;
      padding-right:1vw;
      border-bottom-left-radius:1.6em;
      border-bottom-right-radius:1.6em;
      left:0; 
      z-index:99999;
    }
    

    .username{
      position:relative;
      font-size:2em;
      margin-left:2vw;
      top:0.5vh;
    }
    .info #icon{
      width:40px;
      height:40px;
    }
  </style>
      
        <% if(user.artist != "true"){ %>
        <script>
         window.onload = ()=>{
           window.location.href = "/profile/<%= user.url %>"
         }
        </script> 
      <% } %>
